/**
 * @file
 * Colors Styling
 */

@import "base";

body {
  background-color: $body-background;
}

#header {
  background-color: #cccccc;
}

a {
  color: $link-color-default;
  &:hover { color: $link-color-hover; }
  &:visited { color: $link-color-visited; }
}